In [76]:
import pandas as pd
import tabula
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
pd.set_option('display.max_rows', 15)

In [77]:
file1 ="./HSS_1XX.pdf"
# print(os.path.isfile(file1))
tables = tabula.read_pdf(file1,pages='all',multiple_tables=False)

In [78]:
dfs = []
for table in tables:
    df = pd.DataFrame(table)
    dfs.append(df)

In [79]:
HSS = pd.concat(dfs,ignore_index=False)
HSS.columns=HSS.iloc[0]
HSS.drop(0,axis=0,inplace=True)
HSS.drop("Course Name",axis=1,inplace=True)
HSS.drop("Code",axis=1,inplace=True)
HSS

0   Roll Number
1     220101116
2     220150019
3     220123074
4     220123012
5     220101032
..          ...
990   220101084
991   220102019
992   220101105
993   220121024
994   220101052

[994 rows x 1 columns]

In [80]:
names="hostels.pdf"
tables = tabula.read_pdf(names,pages='all',multiple_tables=False)

In [81]:
namess=[]
for name in tables:
    df=pd.DataFrame(name)
    namess.append(df)

In [82]:
df = pd.concat(namess, ignore_index=True)
indices = df[df['Remark'] == 'Remark'].index
df.drop(indices, inplace = True)
df.drop("Remark",axis=1,inplace=True)
df.drop("Hostel",axis=1,inplace=True)
df.drop("JEE Adv\rRoll No",axis=1,inplace=True)

In [83]:
df['Branch'].unique()

array(['Biosciences and Bioengineering', 'Chemical Engineering',
       'Chemical Science and Technology', 'Civil Engineering',
       'Computer Science and Engineering',
       'Data Science and Artificial Intelligence',
       'Electronics and Communication Engineering',
       'Electronics and Electrical Engineering', 'Energy Engineering',
       'Engineering Physics', 'Mathematics and Computing',
       'Mechanical Engineering', 'Design'], dtype=object)

In [84]:
df['Branch'] = df['Branch'].map({
    'Biosciences and Bioengineering' : 'BSBE', 
    'Chemical Engineering' : 'CL', 
    'Chemical Science and Technology' : 'CST',
    'Civil Engineering' : 'CE',
    'Computer Science and Engineering' : 'CSE',
    'Data Science and Artificial Intelligence' : 'DSAI',
    'Electronics and Communication Engineering' : 'ECE',
    'Electronics and Electrical Engineering' : 'EEE',
    'Energy Engineering' : 'EE',
    'Engineering Physics' : 'EP',
    'Mathematics and Computing' : 'MNC',
    'Mechanical Engineering' : 'ME',
    'Design' : 'DOD'
    })
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 1030 entries, 0 to 1054
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sl No         1030 non-null   object
 1   IITG Roll No  1030 non-null   object
 2   Name          1030 non-null   object
 3   Branch        1030 non-null   object
dtypes: object(4)
memory usage: 40.2+ KB

     Sl No IITG Roll No                       Name Branch
0        1    220106001              AAROHAN GUPTA   BSBE
1        2    220106002             AAYUSH AGARWAL   BSBE
2        3    220106003                 ABHI KUMAR   BSBE
3        4    220106004             ABHISHEK KUMAR   BSBE
4        5    220106005             ADHIKANSH GOEL   BSBE
...    ...          ...                        ...    ...
1050  1026    220000001              ARYAN JAISWAL     CE
1051  1027    220000002         DHRITISHREE BARUAH     CL
1052  1028    220000003  DUMPALA DEEPIKA BHARADWAJ    ECE
1053  1029    220000004                 MASOOM ALI    EEE
1054  1030    220000005     RAMVILASH KUMAR PODDAR    ECE

[1030 rows x 4 columns]

In [85]:
convert_dict = {
    'IITG Roll No' : int,
}
df = df.astype(convert_dict)

In [86]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_colwidth', -1)
newNames=pd.read_csv("branchChange.txt",sep=' ')
newNames.drop("Name",axis=1,inplace=True)
newNames.drop("Present",axis=1,inplace=True)
newNames.drop("Sl.No",axis=1,inplace=True)
newNames.drop("New",axis=1,inplace=True)
newNames.rename(columns = {"NewRoll":"NewDept"}, inplace = True)
newNames.rename(columns = {"Unnamed: 6":"NewRoll"}, inplace = True)
newNames

         Roll NewDept    NewRoll
0   220150020     CSE  220101116
1   220102068     CSE  220101117
2   220150023     CSE  220101118
3   220102011     CSE  220101119
4   220102004     CSE  220101120
..        ...     ...        ...
82  220103013     EPH  220121073
83  220103092      CL  220107108
84  220107029      ME  220103136
85  220151004      ME  220103137
86  220107090      ME  220103138

[87 rows x 3 columns]

In [87]:
for index,newroll in newNames.iterrows():
    for index1,roll in df.iterrows():
        if(roll["IITG Roll No"]==newroll["Roll"]):
            df.loc[index1,"IITG Roll No"]=newroll["NewRoll"]
            df.loc[index1,"Branch"]=newroll["NewDept"]

In [88]:

convert_dict = {
    'Roll Number' : int,
}
HSS = HSS.astype(convert_dict)

HSS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 994 entries, 1 to 994
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Roll Number  994 non-null    int32
dtypes: int32(1)
memory usage: 4.0 KB

In [89]:
df.index = np.arange(1, len(df) + 1)
pd.set_option('display.max_rows', 15) 
df

     Sl No  IITG Roll No                       Name Branch
1        1     220106001              AAROHAN GUPTA   BSBE
2        2     220103125             AAYUSH AGARWAL     ME
3        3     220106003                 ABHI KUMAR   BSBE
4        4     220106004             ABHISHEK KUMAR   BSBE
5        5     220106005             ADHIKANSH GOEL   BSBE
...    ...           ...                        ...    ...
1026  1026     220000001              ARYAN JAISWAL     CE
1027  1027     220000002         DHRITISHREE BARUAH     CL
1028  1028     220000003  DUMPALA DEEPIKA BHARADWAJ    ECE
1029  1029     220000004                 MASOOM ALI    EEE
1030  1030     220000005     RAMVILASH KUMAR PODDAR    ECE

[1030 rows x 4 columns]

In [90]:
HSS

0    Roll Number
1      220101116
2      220150019
3      220123074
4      220123012
5      220101032
..           ...
990    220101084
991    220102019
992    220101105
993    220121024
994    220101052

[994 rows x 1 columns]

In [97]:
names=[]
branch=[]
for roll in HSS['Roll Number']:
    naam = df[df['IITG Roll No']==roll]['Name'].values
    branchh = df[df['IITG Roll No']==roll]['Branch'].values
    if(len(naam)!=0):
        names.append(naam[0])
        branch.append(branchh[0])
    else:
        HSS = HSS[HSS['Roll Number'] != roll]

In [98]:
names

['SARTHAK KAPOOR',
 'SAPTARSHI MUKHERJEE',
 'SRINJOY SOM',
 'CHAITANYA CHHABRA',
 'D HAYAGRIVAN',
 'MARALA SAI SUDHAMSH',
 'SHARVIL VIRAL PATEL',
 'AKANSH KHANDELWAL',
 'SHREYANS GARG',
 'DEV SHAH',
 'ANUBHAB DUTTA',
 'MAHEK CHOUDHARY',
 'KASHISH AGGARWAL',
 'CHANDRASHEKHAR DHARMARAJAN',
 'SANCHAY BARANWAL',
 'ARUSHI KUMAR',
 'RISHAB SONTHALIA',
 'SOUMYA SAVARN',
 'ISHAN CHANDRA GUPTA',
 'ARUSH SHALEEN MATHUR',
 'SURANKAN DE',
 'PRIYANSHU PRATYAY',
 'GOPALASETTY PREETAM',
 'MAYUKH MAITY',
 'OM KUMAR',
 'SHREYASH SACHINDRAKUMAR BHARATI',
 'ARYAN ADLAKHA',
 'MAHUA SINGH',
 'TANMAY MITTAL',
 'SANYAM KUMAR JAIN',
 'BONDA JNANA SAI',
 'TANVI DOSHI',
 'HARI HRISHIKESH VARDHAN',
 'MANIKANTA KRISHNAMURTHY',
 'NILESH SINGLA',
 'AYUSH PATIDAR',
 'SHASHWAT SHARMA',
 'PARV AGGARWAL',
 'PATEL KUSHAL PRAKASHKUMAR',
 'YASH JAIN',
 'SAVANI SHIVAM BHAGWANBHAI',
 'TANAY GOENKA',
 'ASTITVA JAIN',
 'ADARSH GUPTA',
 'PARTH AGARWAL',
 'SARVESH RAMESH MORE',
 'AMIT KUMAR PADHI',
 'KUSHAL GUPTA',
 'DAKSH ARORA',
 'AADITYA JALAN',
 'AYUSH KUMAR',
 'MOHD NAJMUS SAQUIB',
 'RATHOD SUJAL JIGNESH',
 'KOVID JUNEJA',
 'AYUSH SAVAR',
 'HARDIK JAIN',
 'RUPAYAN DARIPA',
 'ANIKET GUPTA',
 'GADHIKAR AVANISH HARSHAL',
 'CHINAM SURAJ PATRA',
 'PATEL DHYEY SANJAYKUMAR',
 'AVIRAL SRIVASTAVA',
 'VISHAL SHASHIDHAR',
 'ABHISHEK KUMAR',
 'SHOBHIT GUPTA',
 'SUBHRAJYOTI KUNDA ROY',
 'DUBEY OM AJAY',
 'RISHITA AGARWAL',
 'ARUSH JAIN',
 'TANUSH REDDY KOLAGATLA',
 'MRINAL AGRAWAL',
 'AKASH SHAW',
 'RAHUL MAHESWARI',
 'ANURAG BARUAH',
 'UDBHAV GUPTA',
 'MAYANK AGRAWAL',
 'ANISH KUMAR',
 'SHASHWAT SHANKAR',
 'MANASI BHARAT NIKAM',
 'RAUNIT PATEL',
 'AYUSH SINGH',
 'ANUJ DUBEY',
 'ARYAN  PATEL',
 'CHETAN JAIN',
 'SAHIL',
 'AAROHAN GUPTA',
 'SHARANYA VINAYAK ADANE',
 'MUNISH BHATIA',
 'DEVESH RAJESH KAMBLE',
 'KARNATI RAVI TEJA',
 'PATEL CZILEEN NATVARBHAI',
 'AAYUSH  SUTHAR',
 'K VASANTHAKUMAARAN',
 'J POOJA',
 'SHREEYA GUPTA',
 'ABHAY DUBEY',
 'THIRUMALA PUNITH KUMAR NAIDU',
 'ADITI YOGESH',
 'MANAS JHAWAR',
 'ARYA ABHAY ALVEKAR',
 'HRISHIKESHAN A NAMBOODIRI',
 'OM KHANDWALA',
 'SHAH PUJAN NIRAJ',
 'REKKALA JITHESH REDDY',
 'BHARGAVI DIVYAM',
 'MANIK MEHTA',
 'RAVI SHAH',
 'TAKKELLAPATI NAGENDRA',
 'NIKITA SHARMA',
 'RAGHAV MODI',
 'ABHINAB DAS',
 'BACHINA KOMALI',
 'BHAVIK JAIN',
 'MEGH PARESHBHAI CHAPADIA',
 'ANUSHKA GUPTA',
 'SAUNDARYA KESHARI',
 'HARNOOR KAUR',
 'ANUSHKA MITTAL',
 'KARAN SITAL SHAH',
 'YASH GUPTA',
 'PRIYANSHU MAURYA',
 'KEVIN THOMAS JACOB',
 'TANISHA VIJAY SURYAVANSHI',
 'RAGHAV MANOJ MOUR',
 'KRISH MANGAL',
 'JAMMU MEGHANA',
 'NAMAN BHARDWAJ',
 'SIMON LALREMSIAMA SHANGPLIANG',
 'DEEPAK PRAJAPATI',
 'TARUN RAJ',
 'RISHIKESAN S',
 'AGAM TYAGI',
 'PATEL DEV HITESHKUMAR',
 'RAHUL',
 'PRAMIT SOME',
 'VAISHNAV VASHIT MILAP',
 'SAPAHARAM VISHNU SINGH',
 'SHUBHAM KUMAR JHA',
 'HIMANK BOHARA',
 'ATMAKURI MANOJ KUMAR',
 'ANSUL JAIN',
 'HEMAL VADALIYA',
 'SUDHANSHU KUMAR SINGH',
 'RISHABH SAHOO',
 'DUPPALA PARDHEEV',
 'PRASHURJYA BHAGAWATI',
 'PREM YADAV',
 'UDAY JAIN',
 'VIKAS ANAND',
 'ARUNAV DEKA',
 'CHIRADEEP JANA',
 'HARPAL NIRVEDH SANTOSH',
 'GHOSH KUSHANAVA AMITAVA',
 'KESHAV BALDEVA',
 'SARTHAK MEHNDIRATTA',
 'KSHITIJ M GAJBHIYE',
 'VEMISHETTI LAXMITEJASWI',
 'PRATIKSHA POPAT RASAL',
 'BHUVANAA S',
 'TANISHQ KUMAR SINHA',
 'SUYASH NEMA',
 'ABHISHEK SHARMA',
 'PRANATI TANDON',
 'AYUSH KUMAR',
 'YASH KUMAR',
 'PENTAKOTA RAMA VARDHAN',
 'ANUJA RAMESH JAMSUTKAR',
 'TUSHIF TAMANNA RAHMAN',
 'CHIKHALIYA ACHYUT VRAJLAL',
 'RAJAT GUPTA',
 'UDIT CHETANKUMAR JETHVA',
 'PRACHI BINDAL',
 'MOHD FAIZ',
 'SARVAGNA GRANDHI',
 'ARYAN GUPTA',
 'BRIJESHWAR GUPTA',
 'NISHA RAMESH',
 'VIJETA NAGRAJ BHAT',
 'TANMAY GUPTA',
 'SATADRU PAL',
 'SHUBHANG SHIROLAWALA',
 'ARYAN SHIVAPURAM',
 'SANTANU BARIK',
 'DEVARSH BHANDARI',
 'ARCHIE JAIPURIA',
 'SHIVAM GUPTA',
 'ARADHYA JAIN',
 'DIVYANSH CHANDAK',
 'FURSULE DHRUV SHASHANK',
 'SOHAM DAFADAR',
 'DISHANT KUMAR',
 'A. V. S. N. SRIYA',
 'KASULA VARUN TEJ',
 'RISHI KIRAN',
 'ASHUTOSH BALASUBRAMANIAM',
 'SHUBHAM',
 'BASIREDDY SREEHITHA',
 'JALAM SHRAMAN',
 'MUKUL GOEL',
 'ANIRUDH CHEEDELLA',
 'UTKARSH VERMA',
 'AYUSH MISHRA',
 'PONAKALA HANUMA SAI KRISHNA',
 'PILAKATUPULA VENKATA SIVA RAO',
 'AAYUSH AGARWAL',
 'ADITYA SINGH',
 'HIMANSHU SAHARAWAT',
 'ARYAN ARYA',
 'VISHAL CHOUDHARY',
 'PALLETI PRAVEEN KUMAR REDDY',
 'KANGUDE ADITYA SANTOSH',
 'ARUSH JAISWAL',
 'SAVVY THOMAS',
 'KASHISH KANODIA',
 'AAYUSH SINHA',
 'ADWEIT SINGH CHAUDHARY',
 'AGNIV MAJUMDAR',
 'VARMA JATIN SURESH',
 'TARUN',
 'VINEET ANSAL',
 'CHALLAGONDLA MONIKA',
 'ANKUSH SAHA',
 'JAJAM ABHIJITH',
 'MANSI GUPTA',
 'ADITYA DADHICH',
 'SHASHWAT SRIVASTAVA',
 'GURLEEN SINGH JOSHI',
 'SHREYAS MANISH SAXENA',
 'PRAKHAR PUNJ',
 'SNEH NIKHILESH DADHANIA',
 'TETAKALI SANDEEP CHARLIE',
 'GADDE SRI RAM RISHANDRA',
 'KOTHA HITESH',
 'ABHISHEKH SINHA',
 'IHA GUPTA',
 'SUSHANT KUMAR',
 'ADITYA JHA',
 'ANKIT SINGH',
 'SHUBHRANSHU PANDEY',
 'SATVIK MUDGAL TYAGI',
 'JAYES RANJAN',
 'SAKKSHAM KUMAR',
 'BHAVUK PRASAD SARTHAK',
 'VIDHI ARORA',
 'YAJAT DAYAL',
 'JAHNAVI KUMAR',
 'PRIYANSH AWASTHI',
 'AMBUJ MISHRA',
 'ARUNESH ADARSH',
 'BIBHUTI BHUSAN PANDA',
 'BORRA SREE RAMYA SRAVANTHI',
 'SARASWATA SANYAL',
 'NAMAN SHARMA',
 'SHINDE ONKAR HARISHCHANDRA',
 'VASU VERMA',
 'MAULIK SHARMA',
 'RAGHAV RAWAT',
 'SHAILESH MISHRA',
 'MALLA JASWANTH',
 'PATEL HEET NIRAJ',
 'LAHAR MAHESH BOOB',
 'SHAURYA JAIN',
 'SYED WAHID ALAM',
 'SATADIP DEBNATH',
 'SHREYA RAJ',
 'NIL KAMAL DAS',
 'DHANJIT K',
 'BODANAPU VARSHITHA',
 'BINIT PODDAR',
 'ASHISH RAJ',
 'JOEL ABRAHAM THOPPIL',
 'SHEKHAR SATYAM',
 'CHEKURI MUNI SIVA KEERTHAN',
 'SAURAV DAS',
 'JAYANT MITTAL',
 'DHRUVA NILESH KUTHARI',
 'HRISHIKESH TIKARAM NEMADE',
 'HIMA PYNENI',
 'PRANAV JORI',
 'DIVYAM JAIN',
 'MOLIK AGARWAL',
 'DIYA AGARWAL',
 'HIMANSHU',
 'PIYUSH DHAR PATEL',
 'DALISHA NAGPAL',
 'SHEIKH MIRAJUDDIN NABI',
 'MAYANK KUDWAN',
 'RITIK ROUSHAN KUMAR',
 'ATRI CHATTOPADHYAY',
 'AYUSH GUPTA',
 'AYUSH',
 'KONDAPALLI SOUMITH',
 'AAGAM BHAVESH MEHTA',
 'RAYANSH KHAMESRA',
 'DEVANSH GUPTA',
 'YASH TRIVEDI',
 'ANKIT YADAV',
 'VINEET KUMAR',
 'GIRISH KUMAR',
 'RAJNEESH KUMAR',
 'KANISHK MEHTA',
 'ATHARVA SUDHIR DIXIT',
 'RAJESHWARI',
 'SHREYAS KUMAR',
 'KRITARTH PANDEY',
 'PRATYUSH KUMAR',
 'VENU MADHAV P L',
 'PAWAN YADAV',
 'YOGA VENKATA SAI CHARAN BODDAPATI',
 'PARAS KEDAR RISBOOD',
 'VIKRANT',
 'TANYA GUPTA',
 'SITESH KUMAR GOYAL',
 'PRAGYAN SRIVASTAVA',
 'BHAIRU SINGH KANAWAT',
 'ADITYA VAIBHAV KANAGALEKAR',
 'SAMEER MEHTA',
 'MANTRABUDDI MAHA DEVA NAIDU',
 'DHRUV SHARMA',
 'AVYAY MISHRA',
 'ARITMOY DATTA',
 'FARHAN ABDUL LATIF SHAIKH',
 'CHINTHA SAI CHARAN TEJA',
 'VAIBHAV SEKSARIA',
 'CHANCHAL',
 'LOHIT PATTNAIK',
 'DIVYANSH MISHRA',
 'UDAY JAYANT WAWAGE',
 'KASIPURAM VAISHNAVI',
 'ALLENKI REVANTH',
 'LAKSHYA BATRA',
 'TANISHQ SINGH',
 'ARIN GUPTA',
 'ANUP SINGH',
 'DARSHAN PATIDAR',
 'REDDI DEVIKA',
 'KRISHNA MAHALKA',
 'TANU SIWACH',
 'ARIN KUMAR SINGH',
 'KUSHAGRA SINGH SISODIA',
 'HIMANSHU SINGHAL',
 'ADLOORI CHANDANA',
 'SANSKAR UGHADE',
 'VAIDURJYA SONOWAL',
 'RANGARI AKSHAT PRUTHVIRAJ',
 'VANAMA PRANAV',
 'GEHLOT DHRUMIN',
 'YASH PUNIYA',
 'SHRUTEE PRAKASH DALAI',
 'HARSHIT CHACHRIYA',
 'RAKESH BHUTRA',
 'ANANYA KARN',
 'EKAL PRAMODKUMAR PATIL',
 'RISHI SHAW',
 'ADITYA NARAYAN',
 'GODDATI SAI LIKHITHA',
 'VIVEK KUMAR',
 'SUJIT SUNIL NAGARE',
 'ANUJ TYAGI',
 'KODIBOYINA LEELA VARSHINI',
 'DIPESH KUMAR',
 'VAIBHAV SEHGAL',
 'POSHAM NAVYA',
 'ATUL RAJ',
 'ALAMPALLY KHUSHI',
 'KISHOR KUNAL',
 'GAJJALA BHARGAVA REDDY',
 'ELIKA',
 'KANDREGULA SHAMITH',
 'ANANY SIHARE',
 'SANAT NAGPAL',
 'RAM BANSAL',
 'DIVYANSHU TIWARI',
 'VAIBHAV KUMAR',
 'ASUTKAR CHINMAY SURESH',
 'KARAN KUMAWAT',
 'ADI JAIN',
 'JUNNARKAR NEEL SUBHASH',
 'PRIYANSHI AGRAWAL',
 'BHAWANA',
 'NELAPATI MEGHANA',
 'ANIRUD A L',
 'PUJA KUMARI',
 'ANIRBAN GHOSH',
 'HARSH PANDEY',
 'VISHNU SHAKYA',
 'VERMA VIJAY DINDAYAL',
 'GUTHIKONDA VARUN REDDY',
 'DHRUV GUPTA',
 'SARVESH MURKUTE',
 'YASH TIWARI',
 'VIVEK PARLEY',
 'KAREDDY HRUSHIKESH REDDY',
 'MONALI GUPTA',
 'HARSHIT TOMAR',
 'ISHIKA BOHRA',
 'SARTHAK THAKRE',
 'AMAN GUPTA',
 'ANSH',
 'ADITYA SARTHAK',
 'GAYTRI GUPTA',
 'NIHAL BABU V',
 'ROHIT KUMAR DAYALANI',
 'MODALA JEEVAN VENKATA NAGA SATYA PAVAN',
 'SIDDHI MAHENDRA MANIKPURE',
 'PEDDAPOLU GAYATHRI',
 'SANJEEB KUMAR SAHU',
 'YOSHITA BANERJEE',
 'AARAV CHANANI',
 'YAMINI  SUNIL TASARE',
 'R ROHAN KUMAR',
 'SATYANSHU',
 'SHASHANK VERMA',
 'SACHIN VARMA',
 'DIVYA MATE',
 'HARSHITA SINGH',
 'MANAS RAJ HANS',
 'YASH SINGHAL',
 'GUMPALLI SRIRAM PRANAV',
 'SAKSHI KUMARI',
 'ATUL JHA',
 'LEENA PAWAR',
 'NIKU RAJ',
 'GADCHANDA RITHVIK RAO',
 'AYUSH LOHIA',
 'RITURAJ GOPE',
 'GUBBALA KUNDANA SATYA DEEPAK',
 'MALLAM SATHWIKA',
 'JASMINE',
 'DEEPAK KUMAR TRIPATHI',
 'KULDEEP PATIDAR',
 'GANTA DEVI PRASAD',
 'MAHATV SHARMA',
 'AGARWAL HARSH RAJIV',
 'NIKHIL RAJ',
 'ANUSHKA SINHA',
 'GARIMA SANJEEV',
 'PRATIK PIYUSH',
 'RAHUL KUMAR',
 'GINDAM KARTHIKEYA',
 'RISHAV KUMAR',
 'NIRANJAN RAJITH',
 'HARSHITA KAUR ADARSH',
 'NITISH KUMAR SINGH',
 'AMIT',
 'PIYUSH GAUTAM',
 'VISHESH AGARWAL',
 'MUTTHINENI SAI VEENADHARI',
 'RAYI HARSHITHA',
 'NITYAM',
 'PRANAV KOCHAR',
 'CHIRAG AGARWAL',
 'SNEHA DAS',
 'UJJWAL PANDEY',
 'ANUJ VISHWAKARMA',
 'DHARSHAN G S',
 'MOHIT YADAV',
 'ANUBHAV SINGH',
 'RISHI KAWA',
 'MATHAN RAJ S',
 'AMAN C PATNI',
 'DHYANI PATEL',
 'SHREYA SEN',
 'MANAS JYOTI ROY',
 'VIBHANSHU',
 'PRINCE THOLIA',
 'BRAJESH MUWEL',
 'DHRUV GARG',
 'PAWAR YASH SAMBHAJI',
 'JAPLEEN KAUR',
 'KAVYA DEEAK LAMTURE',
 'NIKHIL KUMAR',
 'SUTHARI DHEERAJ CHANDRA',
 'RAVI PATEL',
 'SHREYANSH SONI',
 'ANUSHK SINGHAL',
 'VISHNU SHARMA',
 'NOOR SHARMA',
 'KETAN ARORA',
 'RAMTEKE YASH VIJAYKUMAR',
 'RAKESH KUMAR',
 'YEDDULA SREEHITHA RAYAL',
 'AYUSH AWASTHI',
 'MAYANK CHOUDHARY',
 'AMOL SATHEESH',
 'ARCHCHISMAN BANERJEE',
 'GANDEPALLI DEDEEPYA SAI SRI SANJANA',
 'AMIT PATEL',
 'RAHUL JAT',
 'RAHUL MAREJA',
 'VARAKALA RAJASREE',
 'AMAAN ZAIDI',
 'ROHAN KUMAR MAHATO',
 'SOMRIMA SAHA',
 'RIYA DESHWAL',
 'CHUKKA KARTHIK',
 'ADHIKANSH GOEL',
 'UDAI BHATI',
 'PRANJAL VISHWAKARMA',
 'ABHIJEET GHOSH',
 'RITHEY MARIYA GEORGE',
 'TATTA VIJAYA BALAJI',
 'AMIT SINGH',
 'ADITYA VIKRAM DAMANI',
 'MANISH JANGIR',
 'TALWARE PRATHAM DHAMMAPAL',
 'V. SANJAY',
 'RADHIKA GUPTA',
 'KRASHNA',
 'SWAYAN SARKAR',
 'SHREYANSH SRIVASTAVA',
 'SAUMYA TRIPATHI',
 'SOUMYADEEP SARKAR',
 'VEDANGI KAILASH JAWADE',
 'ASHMIT VERMA',
 'SUDHANSHU RAJ',
 'NISHTHA KHATRI',
 'ADITYA SINGH',
 'VEERANKI DEVI SAI SRI',
 'NISHCHAY SINGLA',
 'ASHISH RANJAN KAR',
 'ROHIT KUMAR',
 'ROHIT RAMABHADRAN',
 'VEENAS JAISWAL',
 'MANAS KUMAR SINHA',
 'ANIKA BHARDWAJ',
 'DEVANSH GARG',
 'GAURI JOSHI',
 'ROHAN SHARMA',
 'SHAURYA KAPOOR',
 'MORADIA PARTH MAHESHBHAI',
 'RITWIJ KUMAR',
 'KONDETI VIGNESH',
 'LAKSHIT LAVANYA KUMAR',
 'YASH DEV SINGH',
 'PRIYANSHU GAUTAM',
 'ANAND KUMAR',
 'ARADHYA',
 'ROHIT KESHRI',
 'SHREYASH PRATEEK',
 'SAKSHI KOTHARI',
 'HEMANT PRAJAPAT',
 'RAMU KUMAR',
 'SHRESTH RAI',
 'POREDDY SAI KIRAN REDDY',
 'ABHINAV MITTAL',
 'PABITRA KUMAR BEHERA',
 'KRISHNAM GUPTA',
 'DEEPAK KUMAR',
 'GRACY SHIVHARE',
 'AYUSH DADHICH',
 'MONU SINGH BHARGAV',
 'CHAVAN KALYANI KISHOR',
 'JIVESH PRAVIN FIRKE',
 'DURYODHAN DEEP',
 'MEKA RUTHVIKA',
 'NAKKA ARAVIND',
 'AMAN PRASHANT GAHUKAR',
 'RAHUL KUMAR',
 'VARUN SINGH RATHORE',
 'ANANTH KRISHNA V',
 'ARYA PANDEY',
 'GAGANDEEP SINGH',
 'N. NONGLEN ADITYA SINGHA',
 'ANKIT KUMAR SINGH',
 'SPARSHIKA GANESH MANE',
 'AVISHI SHARMA',
 'MOCHERLA VENKATESWARLU',
 'ABHINANDAN TIWARI',
 'ANURAG KUMAR JHA',
 'ATHARVA SANT',
 'FAHEEM AHMED',
 'KAVURI VEDA VARSHA',
 'AETUKURI SRI DURGA',
 'NITISH KUMAR',
 'NARAYAN PRATAP SINGH',
 'VASUDHA LAKHIRAM MEENA',
 'ANMOL VIJAY SABLE',
 'KRISHNA',
 'SAYANDEEP MITRA',
 'GIRISH DHAKAR',
 'KOMALA MADHAVI',
 'GANGAVARAM YOGANANDA REDDY',
 'SHUBHAMDEEP LAMBA',
 'MAYANK CHOUDHARY',
 'VIKAS BISHNOI',
 'RAVIPATI SWARNA',
 'SASI KIRAN PANDI',
 'TANISHA',
 'HIMANSHU SAINI',
 'MRIDU KARIR',
 'KRISHNA GOPAL',
 'SHAGUN SHARMA',
 'PRITI KUMARI',
 'TUSHAR AGRAWAL',
 'GONNA HEMANT',
 'PRIYANSH MATHUR',
 'ABHISHEK SHARMA',
 'DHRUV BHASIN',
 'MD AAMIR RAZA',
 'G PRASHAMS',
 'HARSH KUMAR',
 'CHIRAG CHOUDHARY',
 'YUVRAJ SINGH CHARAVANDE',
 'PUNYO SUNYA',
 'MIHIR MALVE',
 'ABHISHEK KUMAR',
 'ADESH MISHRA',
 'PRANAV YOGESH SONONE',
 'CHITTI HARSH VARDHAN',
 'MD TAUMIQUE AHMAD',
 'AKSHAYA SRIDHAR',
 'ASHOK SANTOSH MENON',
 'RAHUL SINGH',
 'SAFALLYA SANJAY ATHAWALE',
 'MAHADASYAM HEMADITHYA SAI MANI KRISHNA',
 'ALAPANA KARTHIKESWAR REDDY',
 'KUMAR SAARTHI',
 'HEMANT KUMAR',
 'SAHIL MANGTANI',
 'ARUN',
 'SONU SINGH',
 'PRATEEK SACHAN',
 'MAYANK',
 'MISHKA SINGH',
 'ANSHIKA',
 'SURAJ KUMAR',
 'ABHINAV G',
 'DHIYANESH G',
 'CHITTURI VASANTHI',
 'VEERISETTI KRISHNA VAMSI',
 'SUJIT HALOI',
 'TEJESH KUMAR TAWANIA',
 'PREYASHI MAHESHWARI',
 'ABHISHEK',
 'SRIJAN DEWANGAN',
 'KUNAL SINGH SHEKHAWAT',
 'PRAJAPATI VIVEK MAHENDRABHAI',
 'AYUSH SINGH',
 'KRISHNA S PATEL',
 'MALABH BAKSHI',
 'ANGA SAI GIRISH',
 'GOLI POOJITHA',
 'HEMANGA BHARALI',
 'RAHUL KUMAR',
 'VAIBHAV JANGID',
 'CHEPURI RAJIV KUMAR',
 'AMIT KUMAR CHAUDHARY',
 'DEEPAK SUTRADHAR',
 'PRAKRATI SAHU',
 'SUBRAT MASOOM',
 'PAARTH MINEAR',
 'PRADIPTA JIWAN HAZARIKA',
 'TANUSHRI BARSAINYA',
 'PRIYANSHU MAHALA',
 'SULABH NAPIT',
 'VANSHITA BIHANI',
 'YASHVARDHAN JAISWAL',
 'AAYUSH RAMAN',
 'MAYANK GANGWAR',
 'YERRAMSETTI DIVYA SAHITI',
 'ANISH PRAKASH',
 'YASH GUPTA',
 'BOORNA VISHNU TEJA',
 'SOBHAMAI HANSDAH',
 'AMAN KUMAR THAKUR',
 'SAMPAD BISWAS',
 'PALAB RANA',
 'AMULYA CHEPYALA',
 'VAIJAYANTI CHOUDHARY',
 'MADAMANCHI CHANDANA',
 'KHUSHI RAJ',
 'NALLAKUKKALA HEMANTH KUMAR',
 'TANMOY SARKAR',
 'AYUSH KARDAM',
 'SHIVANSH PAL',
 'RAMAN SIDDHARTH UMARE',
 'ANUPAM AJEY PRATAP SINGH',
 'LEKKALA LEELA PRASAD',
 'HARSHITA KUMAWAT',
 'SANGANNAGARI ABHINAV',
 'BURADA JITENDRA SAI',
 'AISHWARYA',
 'MIRO PAO',
 'ARYAN RAJ',
 'RISHI TIRPUDE',
 'YASHIKA KUMAWAT',
 'SANDESH JOGDANDE',
 'MEHUL BHARTI',
 'MANGAL SINGH RATHORE',
 'PRATYUSH YADAV',
 'BISHAN KUMAR DEKA',
 'SAYAN BISWAS',
 'MANYA AGGARWAL',
 'ABHINAV SHARMA',
 'ASHUTOSH SINGH',
 'MD FAIZ AHMAD',
 'DARLA ADITYA VARDHINI',
 'ASHISH KUMAR',
 'VIVEK DAS',
 'RIGZEN CHOSDON',
 'LAKSHYA KUMAR',
 'MUDAVATH THANMAI SAI KRISHNAN',
 'SAYYED ADIL RASHEED',
 'CHETNYA SHARMA',
 'ANURAG PIPIL',
 'HARISHANKAR YADAV',
 'UTKARSH KUMAR YADAV',
 'UJWAL  FANDULAL KIRSAN',
 'AYUSH SAHU',
 'DURGESH KUMAR DEO',
 'NOOKA CHANDRA MOULI',
 'RAHUL GAUTAM',
 'DEVESH KUMAR SUTHAR',
 'DIVYA SINGH',
 'RAMJAS SAHU',
 'SANTANU KAUSIK DAS',
 'ALOK CHAUDHARY',
 'THAKKAR PALAK BHAVESH',
 'PAWAN KUMAR',
 'PATHULOTHU GOPAL RATHOD',
 'AJAY SINGH MEENA',
 'SIDDHARTH SHUKLA',
 'ANSH PAL',
 'VISHAKHA CHAUDHARY',
 'ASHEESH CHAUHAN',
 'SAI SANKEERTH VEGGALAM',
 'MORE HRISHIKESH NARAYAN',
 'ADARSH',
 'HARSH HEMANT BALGUDE',
 'BHARTI JANGIR',
 'MRINMOY MALLICK',
 'HIMANSHU KUMAR',
 'KOJJA VAMSIKRISHNA',
 'YASH DHARMRAKSHIT MURMADKAR',
 'SIRIGUDI MIDHUSH',
 'MRIGENDRA HANSDAH',
 'DHAVULE GREESHMAJA SAI',
 'PRINCE LIDHORIYA',
 'KHYATI CHOUHAN',
 'RISHABH PANDEY',
 'DANDU PRANITHA SHARON',
 'BALDANIYA PRIT HIMMATBHAI',
 'BHUKYA SRIKANTH',
 'SAHIL RAJ',
 'SANSKRITI VERMA',
 'CHANDAN KUMAR',
 'HIMANSHU RAJ',
 'GAUTAM SAGAR RABHA',
 'ANANYA SINGH',
 'TAPASH BISWAS',
 'ADARSH KUMAR',
 'SAURABH YADAV',
 'AYUSHI MITTAL',
 'KHUSHI AGGARWAL',
 'KRISHNA AGRAWAL',
 'ABHISHEK',
 'DARUWALE RUDRESH SANJAY',
 'SHRESTHA PATIR',
 'VINAY DAKSH',
 'VIKASH HAZARIKA',
 'SAHIL VIKAS GAWADE',
 'DRISHTI',
 'SAYAN KUMAR MANDI',
 'NILANJAN DAS',
 'ADITI AGRAWAL',
 'NISHA SAHU',
 'APARNA ARUN',
 'TARUN KUMAR CHAUDHARY',
 'NIKHIL',
 'ARUSHI',
 'PINGE RUSHIKESH DILIP',
 'DAKADI AKSHAY KUMAR',
 'MOMIN SAQIB AHMED ATIQUR RAHMAN',
 'BISHAN INGHI',
 'TARUN KURETHIYA',
 'AKSHAT TILAK',
 'DEGAVATH BHANU PRAKASH',
 'KUNAL VALMIK MAHALE',
 'KOTNALA SAMUEL RATHNAKAR',
 'ANAND KUMAR',
 'ANUSHKA CHOUDHARY',
 'KANIKA SINGH',
 'RITIK RAJVANSHI',
 'ABHEEK KHAMRUI',
 'UTKARSH KUSHWAHA',
 'SUMAN TALUKDAR',
 'SAMARTH GUPTA',
 'MURARIJI OMPRAKASH DUBEY',
 'RATHOD VISHESH NAYAK',
 'SHRESTHA PANDEY',
 'BALVEER GULERIYA',
 'ARYAN RAJ',
 'RAMINENI HARDHIKA',
 'VENKATESH M',
 'SIMRAN YADAV',
 'ISHA ROY',
 'SAURABH KUMBHARE',
 'AILEEN JESS JOLLY',
 'HIMANSHU GOYAL',
 'REJIA DOLEY',
 'SHIVAM KUMAR',
 'KUMMARI VENKATA SAI PRANAV',
 'VIKRAM MODASRA',
 'AVINASH GOHITE',
 'KISHORE K',
 'SAURAV BHATI',
 'DURLABH',
 'SANVIDHAN BHIMRAO SALVE',
 'SACHIN KUMAR SHARMA',
 'JYOTISHMAN BARO',
 'VIRENDRA GHUNAWAT',
 'YUVRAJ SINGH',
 'ADITYA RAJ',
 'MAHESH GUGULOTHU',
 'SANGAMVALASA VEDHANTH SAI VARAPRASAD',
 'V RAJESH',
 'B PAVAN',
 'YUVRAJ SINGH',
 'SARJEETA',
 'HARSHIT YADAV',
 'BANOTH NANDINI',
 'G PRIYANKA',
 'SHUBHI KANT SURYA',
 'VANKUDOTHU DHEERAJ',
 'MASTRAM MEENA',
 'KABANG CHUNGKRANG',
 'VINEET SAGAR',
 'AJAY',
 'BATHULA KAVYA LEKHA',
 'LAKSHYADEEP SINGH TEKAM',
 'MD IRFAN MANSOORI',
 'ROHIT YADAV',
 'DEVENDRA KUMAR',
 'ANKIT CHAURASIA',
 'AMAR KUMAR',
 'SAHIL ANAND',
 'JANVI BHARTI',
 'KRATIKA PAL',
 'KETHAVATH DURGA PRASAD',
 'PIHUL LALOTRA',
 'BANAVATHU SIREESHA',
 'ATUL KUMAR',
 'DURGE PRATIK KACHARU',
 'SHANU SENGAR',
 'DEEPAK BAIRWA',
 'REEMA TIKADAR',
 'SABARNA HALDER',
 'SUNNY KUMAR',
 'RACHIT SHAH',
 'DON BASUMATARY',
 'TALARI SYAMA SAMEEKSHA',
 'GARVE ATTRI',
 'ACHAL RAJU TAKSANDE',
 'KAIPU SRIBHARGAV REDDY',
 'KASANI KEERTHI SARIKA',
 'MALOTHU AKASH',
 'BONU SANDILYA',
 'GURUSHRAN PAL SINGH',
 'DIVYANSH TIWARI',
 'ARYAN AGRAWAL',
 'AMIT MEENA',
 'ANJALI SINGH',
 'CHOGA RAM',
 'NEELESH',
 'LAVISH MEENA',
 'TEKI JAYA SRILEKHYA',
 'MD ZUBAYR ARSHAD BARUAH',
 'PIKU DEKA',
 'GUGULOTH HEMANTH KUMAR',
 'RAKHI BORO',
 'SADHU NIHAL RAJ RUDHRA',
 'DHANUSH RATHOD',
 'MITHUNA K',
 'SIDDHI LOKMITRA KHOBRAGADE',
 'NAGRALE SANSKRUTI SHAILESH',
 'SACHIN DERWAL',
 'ABHISHEK KUMAR',
 'ANUSHKA VERMA',
 'NAVYA KAUSHIK',
 'BONANI SAIKIA',
 'UTTAM KUMAR CHOUDHARY',
 'VADTYAVATH SHIVA KUMAR',
 'DHRUV KHICHI',
 'DARAVATHU VENNELA',
 'MONIKA CHOUHAN',
 'PRINCI VERMA',
 'BOBBALA SAI PRANEETH REDDY',
 'SRIVATSAN S S',
 'VIVEK VARDHAN NAIDU ALLU',
 'ANUPAM SANTOSH',
 'VISHAL',
 'KORRA RAHUL NAIDU',
 'GUJJU SAI HARSHITHA',
 'RAM CHARAN TEJA BUKYA',
 'DIBYA PRATIM KASHYAP',
 'KARANAM DIVIJ',
 'NEHA NAYAN',
 'SARTHAK DOHAREY',
 'SURA SURA ANJALI',
 'PRIYANSHU SAGAR',
 'SAHIL KUMAR',
 'BRIJESH SINGH BHARTIYA',
 'MADHAVA SAI G',
 'ADITYA NANDA',
 'RUPAM PRASAD',
 'AKSHAR CHAUHAN',
 'ALKU MANDAL',
 'KULDEEP MEENA',
 'NIRADKUMAR CHAUDHARY',
 'ANKESH KUMAR',
 'NITIN KUMAR',
 'MADHU BARDIYA',
 'MIGOM TAYUNG',
 'ASHUTOSH KUMAR',
 'BANOTH JAYANTHULAL',
 'GHADAGE HITESH NILAKANTH',
 'RATHIKRINDA VENKATA SAHITHI',
 'PENUBALLI VAMSHI KRISHNA',
 'PAWAR MAHESHWARI',
 'BIMLESH KUMAR',
 'TARPE ADWAIT SHRIDHAR',
 'GAURAV KUMAR',
 'GOMPA MONIKA',
 'RITUPAN PEGU',
 'DEESHANT SINGH',
 'LODE UMA MAHESHWAR',
 'ROHIT NIGAM',
 'KRUTIK YOGRAJ KUKDE',
 'MICHEALLIU KAMEI',
 'CHRIS MORANG',
 'RISHABH RAJAK',
 'VANDANA GAUTAM',
 'ARJAV SETHI',
 'BANOTH KRISHNA',
 'JENTIRENLA PONGEN',
 'AKASH RAI',
 'ADARSH MANUPATI',
 'NIRJANA DAS',
 'MEHAK',
 'ANUSHKA SHRUTI',
 'MULLA MEHARAJ',
 'NABARUN DAS',
 'PAOGOUSANG CHANGSAN',
 'DHIRAJ BARMAN',
 'ANKUSH JAYWANT TOPPO',
 'RAKESH KUMAR MEENA',
 'SUVRADEEP DAS',
 'HASAVATHU MAHI SRI RAVI CHOWHAN',
 'HARSH PRASHANT MOON',
 'AYUSH KUMAR',
 'CHOUHAN SHREYAN',
 'PRATYUSH SINGH',
 'MOHD FAHAD JAVED',
 'KAMLA SHANKER',
 'ANGATI JOHN BANYAN',
 'PILLIKANDLA MAHESHWAR',
 'ABHIDEEP BISHUI',
 'DHARAVATH ANOOP CHANDER NAIK',
 'GOKUL GIRWAL',
 'MOKSHITH T. J.',
 'BHUKYA TANUJ NAYAK',
 'SHRIYA SURYA',
 'RAGIREDDY VIVEK REDDY',
 'DEVASHRUTI SAIKIA',
 'PRIYA SHARMA',
 'AMAN SARASWAT',
 'HARSH',
 'NEHA ROY',
 'DIVYA MEENA',
 'SANJANA KUMARI',
 'PIYUSH KUMAR',
 'MANJIT KUMAR',
 'RAHUL MEENA',
 'BALAGA AMRUTHA',
 'TWINKLE HITESH PATEL',
 'DHARANI LUNAVATH',
 'KAVALI SAI SHRADHA']

In [99]:
HSS['Names']=names
HSS['Branch']=branch

In [107]:

HSS

0     level_0  index  Roll Number                 Names Branch
0         0.0    1.0  220101116.0        SARTHAK KAPOOR    CSE
1         1.0    2.0  220150019.0   SAPTARSHI MUKHERJEE   DSAI
2         2.0    3.0  220123074.0           SRINJOY SOM     MC
3         3.0    4.0  220123012.0     CHAITANYA CHHABRA    MNC
4         4.0    5.0  220101032.0          D HAYAGRIVAN    CSE
...       ...    ...          ...                   ...    ...
974     974.0  991.0  220102019.0        BALAGA AMRUTHA    ECE
975     975.0  992.0  220101105.0  TWINKLE HITESH PATEL    CSE
976     976.0  993.0  220121024.0      DHARANI LUNAVATH     EP
977     977.0  994.0  220101052.0    KAVALI SAI SHRADHA    CSE
1054      NaN   87.0          NaN                   NaN    NaN

[979 rows x 5 columns]

In [111]:
HSS.to_csv("3rdsem.csv", index=True)